@charset "utf-8";

body {
	background-color: lightslategrey;
}

img {
	width: 500px;
}

img:hover {
	border: dotted antiquewhite 10px;
	border-radius: 60%;
	width: 400px;
}

h1 {  
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"Helvetica, serif;
	letter-spacing: -2px;
	background-color: antiquewhite;
		color: lightslategrey;
	text-decoration: wavy underline 5px;
	text-decoration-color: lightslategrey;
	  text-shadow: 2px 2px darkslategrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
